<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collector App</title>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <div class="container">
        <h1>Collecting Height</h1>
        <h3>
            Please Fill the Entries to get population statistic on height
        </h3>
        <div class="message">
            {{text|safe}}
        </div>
        <form action="{{url_for('success')}}" method="POST">
            <input type="email" title="Your email will be safe with us " placeholder="Enter your email address"
                name="email_name" required><br />
            <input type="number" min="50" max="300" step="0.01" title="Your email will be safe with us "
                placeholder="Enter your height in cm" name="height_name" required><br />

            <button type="submit">Submit</button>


        </form>
    </div>
</body>

</html>