header{
     background-color: #eee;
     margin-bottom: 10px;
    
}
.container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    list-style: none;
   
    
}
.menu a{
    margin-right: 20px;
    text-decoration: none;
}
.logo{
    padding:0 20px;
}