{%extends "layout.html"%}

{%block content%}
<div>
    <h2>About Page</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis molestiae, exercitationem aliquam voluptate magni
        voluptatum ad aspernatur dolore, officiis nostrum sit commodi cupiditate modi iste veritatis at. Ut, harum
        corrupti.
        Dolore unde sapiente nisi dolor possimus. Accusamus distinctio modi iste vero ipsa accusantium, labore fuga
        aliquam culpa adipisci deleniti cum. Delectus qui dolores exercitationem fuga atque molestiae, provident aperiam
        harum.</p>
</div>
{%endblock%}